project:
  type: website

website:
  site-url: "https://ubvu.github.io/open-handbook"
  title: "Research Support Handbook"
  description: "A place for all things open research at VU Amsterdam."
  favicon: public/favicon.png
  repo-url: https://github.com/ubvu/open-handbook
  issue-url: https://github.com/ubvu/open-handbook/issues/new/choose
  repo-actions: [edit, issue]
  page-navigation: true
  bread-crumbs: true
  sidebar:
    - id: sb-ada
      style: floating
      search: true
      contents:
        - tools/ada/index.qmd 
        # - auto: tools/ada/**/*.qmd # works, but is in the wrong order
        - tools/ada/login.qmd
        - tools/ada/quick-start.qmd
        - tools/ada/slurm.qmd
        - tools/ada/software.qmd
        - tools/ada/hardware.qmd
        - tools/ada/open-ondemand.qmd
        - tools/ada/yoda.qmd
        - tools/ada/help.qmd
        - section: Code Examples
          contents: tools/ada/code-examples/**/*.qmd
        - tools/ada/hpc-101.qmd
    - id: sb-scistor
      style: floating
      search: true
      contents:
        - tools/scistor/index.qmd 
        - auto: tools/scistor/*.qmd
    - id: sb-qualtrics
      style: floating
      search: true
      contents:
        - tools/qualtrics/index.qmd
        - auto: tools/qualtrics/*.qmd 

  navbar:
    background: "#0080c9"
    logo: public/VU-logo-Dia-positief.png
    logo-alt: "VU Amsterdam logo."
    # title: "Open Handbook"
    title: false
    collapse-below: lg
    left:
      - text: "Topics"
        menu:
          - text: All
            file: topics.qmd
          - text: Policies and Legislation
            href: /topics.html#category=Policies%20and%20Legislation
          - text: Research Data
            href: /topics.html#category=Research%20Data
          - text: Research Software
            href: /topics.html#category=Research%20Software
          - text: Responsible Scholarship
            href: /topics.html#category=Responsible%20Scholarship
          - text: Trainings and Knowledge Items
            href: /topics.html#category=Trainings%20and%20Knowledge%20Items
      - text: Guides
        file: guides.qmd
      - text: Tools
        file: tools.qmd
      - text: Blog
        file: blog.qmd
      - contributing.qmd
    tools:
      - icon: github
        href: https://github.com/ubvu/open-handbook
        text: GitHub VU Open Handbook
      # - icon: rss
      #   href: https://quarto.org/docs/blog/index.xml
      #   text: Quarto Blog RSS
  page-footer:
    left:
      - text: "CC0 Public Domain Dedication"
        href: "https://creativecommons.org/publicdomain/zero/1.0/legalcode"
    center:
      - text: "About"
        href: about.qmd
      - href: technical-details.qmd
      - href: editors-guide.qmd
      - text: "GHOST Collective"
        href: https://ghostcollective.github.io/games.html
    right:
      - text: "By VU & Liberate Science GmbH"

bibliography: references.bib

resources:
  - "public/*"
  - CNAME
format:
  html:
    toc: true
    theme:
      - cosmo # https://bootswatch.com/
      - custom.scss # https://quarto.org/docs/output-formats/html-themes.html#theme-options
    code-copy: true
    code-overflow: wrap
# from: "markdown+emoji"
filters:
  - utils/include-files.lua
  - utils/linktarget.lua
execute:
  freeze: auto

metadata-files: 
  - tools/pure/_sidebar.yml
  - tools/yoda/_sidebar.yml
  - tools/ithenticate/_sidebar.yml
  